.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
.light {
  position: absolute;
  z-index: -1;
}
.dark {
  position: absolute;
  
}
#card{
    position: absolute;
    z-index: 1;
    /* font-family: 'Josefin Sans', sans-serif; */
    width : 100%;
    height: 100%;
    background-color:rgba(255, 255, 255, 0);
    padding-top: 5%;
}
.todo{
    font-family: 'Josefin Sans', sans-serif;
    color:white;
    font-weight:bold;
    
}

 
#bt{
    border: none;
}
body{
    background-color : rgb(24,24,36);
}

#basic-addon1{
    background-color :rgb(255, 255, 255);
    border: none;

}
#check{
    width: 21px;
    height: 21px;
    border:1px solid gray;
    border-radius: 15px 15px;
    margin:auto;
}
#check1{
     width: 21px;
    height: 21px;
    border:1px solid gray;
    border-radius: 15px 15px;
    margin:auto;
    margin-left: 10px;
}
.count{
    border:none;
    background-color:white;
    color:rgba(0, 0, 0, 0.517);
}
.g{
    border: none; 
}


#add{
    height : 50px;
    border-radius:5px;
    background-color :white;
    margin-bottom: 30px;
    padding: 5px;
}
.input1{
    width : 90%;
    border:none;
    caret-color: rgb(68, 134, 255);
    font-family: 'Josefin Sans', sans-serif;
    font-size: 19px;
    font-weight:600;
}

.row1{
    padding:20px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 17px;
    font-weight: lighter;
}
.row1:hover .cross{
  visibility: visible;
}
.cross{
    visibility: hidden;
}
.imgbtn{
    background-color:white;
    border: none;
}
.ls{
    
    display: flex;
    justify-content: flex-end;
}


tr{
    /* line-height: 24px; */
    height:30px;

}
.button1{
    
    width:20px;
    margin: auto;
}
.wrap{
    overflow-y: auto;    
    overflow-x: hidden;
    background-color : white;
    border : 1px solid gray;
    height : 65%;
    border-radius:4px;
    border:none;
    box-shadow: 0 0.5rem 1.2rem rgb(0 0 0 / 20%);
    

}

.wrap::-webkit-scrollbar {
  width: 11px;
}
.wrap::-webkit-scrollbar-track {
    background:#CFD8DC ;
}
.wrap::-webkit-scrollbar-thumb {
    border-radius:20px;
  background-color:#90A4AE;
   border: 3px solid #CFD8DC;
}


#bot{
position:absolute;
bottom: 4%;
background-color :white;
width:38%;
border-radius:4px;
height:40px;
}
.del{
    text-decoration-line: line-through;
    color:rgba(0, 0, 0, 0.415);
}

#Incomplete,#all,#completed{
    border:none;
    background-color:white;
    font-family: 'Josefin Sans', sans-serif;
}
#Incomplete:active,#all:active,#completed:active{
    background-color: rgb(239, 239, 239);
    border:none;
    color:rgb(23, 67, 185);
    font-family: 'Josefin Sans', sans-serif;
}

/* ----------------------------------- */

.hover {
 
  padding: 12px 16px 12px 16px;
}

.hover:hover {
  background-color: #9a9ebe;
  color: rgb(0, 0, 0);
}
